
<div class="container">
    <div class="row">
        <h1> Angular 9 with firebase crud </h1>
    </div>
</div>

<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="productName"  placeholder="Enter the name of the product">
</div>

<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="productCattegory" placeholder="Enter the cattegory of the product">
</div>

<div class="form-group">
   <button class="btn btn-primary" (click)="createProduct()" [disabled]="!productCattegory || !productName" > Submit</button>
</div>


